
#parent{
  padding: 0px, auto;
  width: 80%;
  height:800px;
  /*border:solid 1px #f00;*/
}
#child-left{
  float: left;
  height:100%;
  width: 120px;
  position: relative; 
  text-align: cetner;
  /*border:solid 1px #0F0;*/
}
#child-right{
    float: right;
    width: 80%;
   height:600px;
  /*border:solid 1px #00F;*/
}